/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #471aff
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #471aff
